<!-- <main>
    <app-live-webinars></app-live-webinars>
    <app-upcoming-webinars></app-upcoming-webinars>
    <app-continue-watching></app-continue-watching>
    <app-webinars-cardiology></app-webinars-cardiology>
    <app-top-speakers></app-top-speakers>
    <app-browse-by-topic></app-browse-by-topic>
    <app-webinars-you-may-like></app-webinars-you-may-like>
</main> -->

<!-- webinar-list.component.html -->
<section class="page-heading d-lg-none">
  <app-webinar-footer-tabs></app-webinar-footer-tabs>
</section>

<main>
  <section id="live-webinars"><app-live-webinars></app-live-webinars></section>
  <section id="upcoming-webinars"><app-upcoming-webinars></app-upcoming-webinars></section>
  <section id="continue-watching"><app-continue-watching></app-continue-watching></section>
  <section id="webinars-cardiology"><app-webinars-cardiology></app-webinars-cardiology></section>
  <section id="top-speakers"><app-top-speakers></app-top-speakers></section>
  <section id="browse-by-topic"><app-browse-by-topic></app-browse-by-topic></section>
  <section id="webinars-you-may-like"><app-webinars-you-may-like></app-webinars-you-may-like></section>
  <section class="page-heading d-none d-lg-flex " style="border-bottom: 1px solid #1e1e1e;">
    <app-webinar-footer-tabs></app-webinar-footer-tabs>
  </section>
</main>

