<section class="upcoming-webinars section">
  <div class="section-header d-flex align-items-center justify-content-between mb-3 d-none d-lg-flex">
    <h3 class="section-title mb-0">Upcoming webinars</h3>

    <div class="d-flex align-items-center">
      <a class="view-all btn btn-sm btn-outline-secondary d-none d-lg-block" (click)="toggleShowAll()"> {{ showAll ?
        'Show less' : 'View all' }}</a>
    </div>
  </div>
  <div class="webinar-wrapper px-4 px-md-0 px-lg-0 py-4" role="list" aria-label="Live webinars list">
    <!-- Horizontal scroll on small screens -->
    <div class="section-header d-flex align-items-center justify-content-between mb-3 d-lg-none d-md-none">
      <h3 class="section-title mb-0">Upcoming webinars</h3>
      <a class="view-all btn btn-sm d-lg-none d-md-none align-items-center" (click)="toggleShowAll()"> {{ showAll ?
        'Show less' : 'View all' }}  <img src="../../../assets/icons/arrow.png" alt=""></a>
    </div>
    <div class="horizontal-scroll d-lg-none d-md-none" role="list" aria-label="Upcoming webinars">
      <article *ngFor="let u of upcoming" class="webinar-item" role="listitem">
        <div class="card card-surface">
          <div class="card-thumb position-relative">
            <img class="thumb-img w-100" [attr.alt]="u.title" appLazyImg="{{ u.image }}" />
          </div>

          <div class="card-body p-0">
            <div class="credits mx-3 mt-2 mb-1"><span class="credits-pill">
              <img src="../../../assets/webinarAssets/Frame 48100047.png" alt="" width="18px">
              {{ u.credits }} Credits <span *ngIf="u.expiresIn" style="color: red;">{{ u.expiresIn }}</span></span>  
            </div>

            <h5 class="card-title mx-3">{{ u.title }}</h5>
             <div class="d-flex align-items-center mb-2 mx-3">
              <img [src]="u.subtitleIcon" width="14" height="14" class="me-2" alt="icon" />
              <p class="card-subtitle text-muted mb-0">{{ u.subtitle }}</p>
            </div>

            <div class="d-flex align-items-center justify-content-between mt-auto bottom-sec p-2">
              <div class="d-flex flex-column">
                <small class="starts-in text-muted">{{ u.startsIn }}</small>
                <div class="d-flex justify-content-between mt-1" style="font-size: 8px; font-weight: 600; ">
                  <div class="start-date ">{{ u.startAt | date:'dd MMM YYYY' }},</div>
                  <div class="start-time">{{ u.startAt | date:'hh:mm a' }}</div>
                </div>

              </div>
              <button class="btn btn-dark btn-outline-dark btn-sm" style="color: #FFFFFF; font-size: 10px;" (click)="notifyMe(u)"> <img
                  src="../../../assets/icons/Bell2.svg" alt="" size="10" style="margin-right: 2px;">Notify me</button>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- Desktop grid -->
    <div class="webinar-grid d-none d-lg-grid d-md-grid" role="list" aria-label="Upcoming webinars">
      <article *ngFor="let u of (isMediumScreen || showAll ? upcoming : (upcoming | slice:0:3))" class="webinar-item"
        role="listitem">
        <div class="card card-surface">
          <div class="card-thumb position-relative">
            <img class="thumb-img w-100" [attr.alt]="u.title" appLazyImg="{{ u.image }}" />
          </div>

          <div class="card-body p-0">
            <div class="credits mt-2 mb-1"><span class="credits-pill">
              <img src="../../../assets/webinarAssets/Frame 48100047.png" alt="" width="18px">
              {{ u.credits }} Credits <span *ngIf="u.expiresIn" style="color: red;">{{ u.expiresIn }}</span></span>  </div>

            <h5 class="card-title mx-3">{{ u.title }}</h5>
            <div class="d-flex align-items-center mb-2 mx-3">
              <img [src]="u.subtitleIcon" width="14" height="14" class="me-2" alt="icon" />
              <p class="card-subtitle text-muted mb-0">{{ u.subtitle }}</p>
            </div>

            <div class="d-flex flex-column heighlight-flag p-2 mx-3">
              <h6 class="m-0">KEY HIGHLIGHTS </h6>
              <p class="heighlight-text m-0">{{u.keyHeighlights}}</p>
            </div>

            <div class="d-flex align-items-center justify-content-between mt-auto bottom-sec p-2">
              <div class="d-flex flex-column lhs">
                <small class="starts-in text-muted">{{ u.startsIn }}</small>
                <div class="d-flex justify-content-between mt-1 time" >
                  <div class="start-date ">{{ u.startAt | date:'dd MMM YYYY' }},</div>
                  <div class="start-time">{{ u.startAt | date:'hh:mm a' }}</div>
                </div>

              </div>
              <button class="btn btn-dark btn-outline-dark btn-sm" style="color: #FFFFFF" (click)="notifyMe(u)"> <img
                  src="../../../assets/icons/Bell2.svg" alt="" width="20">Notify me</button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>

</section>